fish_add_path -g "{{ .chezmoi.homeDir }}/.composer/vendor/bin"
{{ if .personal -}}
fish_add_path -g "/opt/homebrew/bin" "/opt/homebrew/sbin"
{{- end }}

set -x GPG_TTY (tty)
set -x fish_emoji_width 2

set -gx HOMEBREW_GITHUB_API_TOKEN {{ onepasswordRead "op://Personal/github.com/Tokens/Homebrew" "my.1password.com" }}

test -e {{ .chezmoi.homeDir }}/.asdf/asdf.fish ; and source {{ .chezmoi.homeDir }}/.asdf/asdf.fish

test -e {$HOME}/.config/op/plugins.sh ; and source {$HOME}/.config/op/plugins.sh

# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
test -e {{ .chezmoi.homeDir }}/.orbstack/shell/init2.fish ; and source ~/.orbstack/shell/init2.fish 2>/dev/null || :

starship init fish | source
