[user]
	name = {{ .chezmoi.username }}
	email = hussainweb@gmail.com
	signingkey = E1CE98447E2C7887
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~
	rb = "!f() { \
	    echo fetching...; \
	    git fetch; \
	    if [ $? -eq 0 ]; then \
		last_status=$(git status --untracked-files=no --porcelain); \
		if [ \"$last_status\" != \"\" ]; then \
		    echo stashing local changes...; \
		    git stash; \
		else \
		    echo nothing to stash...; \
		fi;\
		if [ $? -eq 0 ]; then \
		    echo rebasing...;\
		    git rebase;\
		    if [ $? -eq 0 ]; then \
			if [ \"$last_status\" != \"\" ]; then\
			    echo applying stashed changes...;\
			    git stash pop;\
			    if [ $? -ne 0 ]; then \
				echo STASH POP FAIL - you will need to resolve merge conflicts with git mergetool; \
			    fi; \
			fi; \
		    else \
			echo REBASE FAILED - you will need to manually run stash pop; \
		    fi;\
		fi;\
	    fi; \
	    if [ $? -ne 0 ]; then \
		echo ERROR: Operation failed; \
	    fi; \
	}; f"
	pull = pull --ff-only
[commit]
	gpgsign = true
[diff]
	tool = opendiff
	external = difft
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
{{- if eq .chezmoi.os "darwin" }}
	editor = code -rw
{{ end }}
	pager = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
{{- if eq .chezmoi.os "darwin" }}
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
{{ end -}}
[delta]
	features = decorations
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
	line-numbers = true
	side-by-side = true
