#!/usr/bin/env bash

{{- if (eq .chezmoi.os "darwin") }}
type brew &> /dev/null || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh
{{- end }}

if command -v starship &> /dev/null
then
  echo "starship already installed"
  exit
fi

{{- if (eq .chezmoi.os "darwin") }}
brew install starship
{{- else }}
sudo sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- -y
{{- end }}
