#!/usr/bin/env bash

{{- if (eq .chezmoi.os "darwin") }}
type brew &> /dev/null || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh
{{- end }}

if command -v fish &> /dev/null
then
  echo "fish already installed"
  exit
fi

{{- if (eq .chezmoi.os "darwin") }}
brew install fish
{{- end }}

{{- if (eq .chezmoi.os "linux") }}
  {{- if (eq .chezmoi.osRelease.id "ubuntu") }}
export DEBIAN_FRONTEND=noninteractive
sudo apt-add-repository -y ppa:fish-shell/release-3
sudo apt-get update
sudo apt-get -yq install fish
  {{- end }}
  {{- if (eq .chezmoi.osRelease.id "debian") }}
export DEBIAN_FRONTEND=noninteractive
echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/3/Debian_10/ /' | sudo tee /etc/apt/sources.list.d/shells:fish:release:3.list
curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:3/Debian_10/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/shells_fish_release_3.gpg > /dev/null
sudo apt-get update
sudo apt-get -yq install fish
  {{- end }}
  {{- if (eq .chezmoi.osRelease.id "fedora") }}
dnf -yq install fish
  {{- end }}
{{- end }}
