theme = catppuccin-mocha

font-family = 0xProto Nerd Font Mono
font-size = 14

font-thicken = true

background-opacity = 0.8
background-blur-radius = 20

window-width = 120
window-height = 48

window-save-state = always

keybind = global:cmd+opt+ctrl+shift+space=toggle_quick_terminal
