[DEFAULT]
default-user = mississaugajamaat

[mississaugajamaat]
token = {{ onepasswordRead "op://Personal/Linode MississaugaJamaat/Access Token/jff4dfpiiadeuqtxiz5qaqjwm4" "my.1password.com" }}
region = ca-central
type = g6-nanode-1
image = linode/ubuntu24.04
